In [1]:
import pandas as pd

In [29]:
raw_1 = pd.read_json('results_1.json')
raw_2 = pd.read_json('results_2.json')
tickers = pd.read_excel('data/tickers.xlsx')
tickers = tickers['ticker'].apply(lambda x: str(x).lower()).tolist()

In [23]:
def df_for_ticker(ticker):
    return raw_1[raw_1['ticker'] == ticker].append(raw_2[raw_2['ticker'] == ticker])
df_for_ticker('a').head(5)

      actual_eps  fq ticker  year
0           0.69   1      a  2012
2058        0.78   2      a  2012
4135        0.79   3      a  2012
6222        0.86   4      a  2012
8493        0.63   1      a  2013

In [15]:
def dp_to_cell(dp):
    col = str(dp['year']) + '-fq' + str(dp['fq'])
    eps = dp['actual_eps']
    return {
        'col': col,
        'eps': round(eps, 2)
    }     
dp_to_cell(raw_1.loc[0])

{'col': '2012-fq1', 'eps': 0.69}

In [21]:
def gen_cols():
    cols = []
    for year in range(2012, 2020):
        for fq in range(4):
            fq += 1
            cols.append(str(year) + '-fq' + str(fq))
    return cols[:-3]

In [54]:
result = pd.DataFrame(columns=gen_cols())
for t in tickers:
    df = df_for_ticker(str(t))
    row = pd.DataFrame(columns=gen_cols(), index=[t])
    for i, dp in df.iterrows():
        col = dp_to_cell(dp)['col']
        eps = dp_to_cell(dp)['eps']
        row[col] = eps
    result = result.append(row)

In [56]:
result.to_excel('actual_eps.xlsx', encoding='UTF-8')